.openbadge{
 border-top: 4px solid #00A96E;
 border-radius: 12px;
    
}


.closebadge{
 border-top: 4px solid #A855F7;
  border-radius: 12px;

}

.tabActive{
    background-color: #4A00FF;
    color: white;
}